<html>
  <head>
    <style>
      body {
        background-color: <%= background %>;
      }
    </style>
  </head>
  <body>
    <p><%= turn %> guesses left</p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <%= message %>
    <% if cheat_mode %>
      <p>
        The SECRET NUMBER is <%= number %>
      </p>
    <% end %>
  </body>
</html>